In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 用range快速生成list

In [3]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [4]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [5]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## for 迴圈

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
x=0
for i in range(1,101):
    x=x+i

In [8]:
print(x)

5050

### list append

In [9]:
price=[1024,399,20000]

In [10]:
c=34.1415677

In [11]:
for p in price:
    ptd=c*p
    print(ptd)

34960.9653248
13622.485512300002
682831.354

In [12]:
L=[]

In [13]:
L.append(123)

In [14]:
L

[123]

In [15]:
L.append("x")

In [16]:
L

[123, 'x']

In [17]:
TWD=[]

In [18]:
for p in price:
    ptd=c*p
    TWD.append(ptd)

In [19]:
TWD

[34960.9653248, 13622.485512300002, 682831.354]

### 字串分割

In [24]:
spam=input("輸入你要買的東西價格")
data=spam.split(",")
P=[]

for p in data:
    p=float(p)
    q=int(p*c)
    P.append(q)
P

輸入你要買的東西價格1

[34]

In [25]:
ham="399 199 1024 250"

In [26]:
ham.split(" ")

['399', '199', '1024', '250']

In [27]:
ham="   399   199  1024 250   "

In [28]:
ham.split(" ")

['', '', '', '399', '', '', '199', '', '1024', '250', '', '', '']

In [29]:
ham.split()

['399', '199', '1024', '250']

In [30]:
def exchange(p):
    p=float(p)
    return p*c

In [31]:
exchange("399")

13622.485512300002

### map

map(f,L)

把f這個函數作用到L list 中的每個元素

In [32]:
L="333,1024,488,20000".split(",")

In [33]:
L

['333', '1024', '488', '20000']

In [34]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [35]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 緊急用函數 lambda

In [36]:
def f(x):
    return x**2

In [37]:
f(2)

4

In [38]:
g =lambda x:x**2

In [39]:
g(3)

9

In [40]:
egg=[9,4,5,3]

In [41]:
list(map(lambda x:x*2+1,egg))

[19, 9, 11, 7]

In [42]:
grades=[36,64,60,100]

In [43]:
list(map(lambda x:(x**(1/2))*10,grades))

[60.0, 80.0, 77.45966692414834, 100.0]

### 合併LIST

In [44]:
L

['333', '1024', '488', '20000']

In [45]:
s=""

for i in L:
    s=s+i+","

In [46]:
s

'333,1024,488,20000,'

In [47]:
s.rstrip(",")

'333,1024,488,20000'

In [48]:
s[0]

'3'

In [49]:
s[:-1]

'333,1024,488,20000'

In [50]:
",".join(L)

'333,1024,488,20000'

### 物件中的METHOD

In [51]:
egg=[12,87,55,77,32]

In [52]:
egg.sort()

In [53]:
egg

[12, 32, 55, 77, 87]

In [54]:
ham ="今天天氣很好"

In [55]:
ham[3]

'氣'

In [56]:
ham[::2]

'今天很'

In [57]:
ham[::-1]

'好很氣天天今'

In [58]:
def move(n=1):
    print(" "*n+"^_^")

In [59]:
move()

 ^_^

In [60]:
interact (move,n=(1,40))

NameError: name 'interact' is not defined